{
  "presets": ["es2015"],
  "plugins": [
    "transform-class-properties",
    "syntax-async-functions",
    "transform-regenerator",
    "transform-es2015-destructuring",
    "transform-object-rest-spread"
  ]
}
